body{
    font-family: 'Open Sans', sans-serif;
}
#land{
    width:100%;
    height:100vh;
    background-image:url('bg.jpeg');
    background-size:cover;
    background-position:50% 50%;
    background-repeat:no-repeat;
    color:#FFF;
    
}
#land .cont{
    border:1px solid transparent;
    }