body{
	font-family: 'Open Sans', sans-serif;
}
.vcenter{
	border:1px solid transparent;
	position:relative;
	top:50%;
	transform:translateY(-50%);
}
header{
	nav.navbar{
		margin-bottom: 0;
		background-color: transparent;
		border-width: 0 0 1px 0;
		border-color: rgba(255,255,255,0.15);
		&.affix{
			background-color: #2e3b4d;

		}
		&.affix-top{
			background-color: transparent;
		}
		form{
			input{
				height:2.4em;
				border-radius:1.2em;
			}
			i.fa{
				margin-left: -2.2em;
				color: rgba(0,0,0,0.3)
			}
		}

		a.navbar-brand{
			.name1{
				color:#DF2BEC;
				font-size:1.2em;
			}
			.tagline{
				color:#FFFFFF;
				font-size:0.7em;
			}
		}

		&.navbar-default .navbar-nav>li{
			&>a{
				&,&:hover,&:visited,&:link{
					color:#FFF;
					border-bottom: 3px solid transparent; 
					transition:border-color 0.3s ease-in;
					background-color: transparent;
				}	 
				&:hover{
					border-color: rgba(255,255,255,0.7);
				}
			}
			&.active a{
				&,&:hover,&:visited,&:link{
					border-color: #FFF;
				}
			}
		}
	}
}
footer{
	background-color: #2e3b4d;
	color:#FFFFFF;
	padding:20vh 0;
}