#howitworks{
	.vcenter{
	.img-container{
		padding: 0;
		img{
			max-width: 100%;
			height:auto;
		}
	}
	}
	h3{
		font-size: 1.1em;
		font-weight: bold;
		text-transform: uppercase;
	}
	p.excerpt{
		font-size:1.1em;
	}
}