#services{
background-image: url('../images/coffee.jpeg');
background-repeat: no-repeat;
background-size: cover;
background-position: 50% 70% ;
height: 80vh;
padding:38vh 0;
color: rgb(255,255,255);	
}
.services_container{
	margin-top: 20px;
}
.tag{
	border:1px solid #FFF;
	height: 2em;
	line-height: 2em;
	padding: 0 2.5em;
	border-radius: 1em;
	display: inline-block;
	
}
.author{
	img{
		height: 2em;
		width:2em;
		border-radius: 50%;
	}
}